html {
  background-color: black;
  color: #fff;
  box-sizing: border-box;
}

html:hover {
  cursor: default;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
html p,
html ul,
html ol,
html dl,
html dd,
html li {
  padding: 0;
  margin: 0;
}
