.nav__list {
  display: flex;
  gap: 8px;
  max-width: 90%;
  list-style: none;
}

.nav__tab {
  display: flex;
  position: relative;
}

.nav__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid;
  background: none;
  padding: 5px;
}

.nav__btn-title1 {
  font-size: 16px;
  white-space: nowrap;
}

.nav__btn-title2 {
  font-size: 9px;
  white-space: nowrap;
}

.nav__tab:hover {
  color: blueviolet;
}

.nav_active {
  transform: translateY(-5px);
}
